.main {
  margin-left: 240px;
  background-color: #f1f1f1;
}

.nav-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-mobile-image {
  width: 70px;
  margin-top: 10px;
}

.side-nav li {
  padding: 0;
}

.header-title {
  margin-top: 0;
  padding-top: 15px;
  margin-left: 30px;
}

.left20 {
  margin-left: 20px;
}

.bottom20 {
  margin-bottom: 20px;
}

.bottom0 {
  margin-bottom: 0;
}

.card-description {
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

.card-category {
  margin: 3px 0 0 0;
  color: #CCCCCC;
  font-size: 8pt;
  font-weight: 400;
  border-radius: 3px;
  padding: 0 3px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #000000;
  text-align: center;
}

.bullet-point li {
  display: flex;
}

.bullet-point li span {
  vertical-align: middle;
}

.role-icon {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .main {
    margin-left: 0;
  }
}